@font-face {
  font-family: "Gilroy-Bold";
  src: url("./icons/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("./icons/Gilroy-Extrabold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./icons/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./icons/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./icons/Gilroy-Semibold.ttf");
}
$mainColor: #22232c;
$textColor: #c1c2c5;
$mainFont: Gilroy-Semibold;

$secondaryColor: rgba(12, 12, 12, 0.4);
$secondaryColorHighlight: #33343F;
$secondaryColorLight: rgba(0, 0, 0, 0.5);
$secondaryColorDark: rgba(12, 12, 12, 0.8);

$gridCols: 5;
$gridRows: 5;
$gridSize: 8.3333vh;
$gridGap: 0.1852vh;
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Poppins', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  overflow: hidden !important;
  user-select: none;

}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: white;
  
}


.context-menu-list {
  width: 8.9583vw;
  height: 8.8889vh;
  border-radius: .2083vw;
  border: 1px solid #222736;
  background: rgba(6, 8, 13, 0.68);
  backdrop-filter: blur(8px);

}
.item-buttons {
  display: flex;
  flex-direction: column;
  gap: .2604vw;
}

.slottipbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.0938vw;
  height: 1.9444vh;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.15);
  pointer-events: none;
}

.context-menu-item  {
  padding: 8px;
  width: 15.625vw;
  height: 3.2407vh;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(72, 72, 72, 0.25);
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-family: 'Gilroy-Semibold';
  font-size: .625vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.2s;
  cursor: pointer;
  &:active{
    transform: none;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #FFF;
    color: #121212;
    text-align: center;
    font-family: 'Gilroy-Semibold';
    font-size: .625vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    fill: #121212;
  }
  &:hover + .slottipbox svg {
    transform: none;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #FFF;
    color: #121212;
    text-align: center;
    font-family: 'Gilroy-Semibold';
    font-size: .625vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    fill: #121212;
  }
}

.tooltip-description {
  color: rgba(255, 255, 255, 0.50);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Gilroy-Medium';
  font-size: .625vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


button:active {
  transform: translateY(3px);
}
.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5.2083vw;
  background-image: url(https://files.catbox.moe/p0tzqi.png);
  background-size: 100% 100%;
}
.inventory-info-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.9792vw;
  
}

.inventory-control {
  display: flex;

  .inventory-control-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .inventory-control-input {
    text-align: center;
    transition: 200ms;
    width: 4.0625vw;
    height: 2.963vh;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: transparent;

  }

  .inventory-control-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9259vh;
    width: 4.0625vw;  
    height: 7.4074vh;
    flex-shrink: 0;
    border-radius: .4167vw;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #FFF;
    text-align: center;
    font-family: "Gilroy-Regular";
    font-size: .7292vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

  }
}

.useful-controls-dialog {
  background-color: $mainColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;
  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

.useful-controls-button {
  position: absolute !important;
  bottom: 2.3148vh;
  right: 1.3021vw;
  transition: 200ms !important;
  border: none;
  color: white;
  width: 2.7083vw;
  height: 4.8148vh;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-radius: 5% !important;
  background-color: $secondaryColor !important;
  &:hover {
    background-color: $secondaryColorDark !important;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: .4167vw;
  top: 0.7407vh;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window


// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.3704vh;
  width: 27.5vw;
  height: 36.2963vh;
  margin-bottom: -6vh;
  margin-top: 6vh;
}
.inventory-head {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: end;
  flex-shrink: 0;
  border-radius: .4167vw;
}

.inventory-grid-header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: .5729vw;
  color: #FFF;
  text-align: start;
}

.search-box {
  display: flex;
  align-items: center;
  padding-left: .5208vw;
  width: 7.8125vw;
  height: 3.7037vh;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(68, 68, 68, 0.15);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15) inset;
  input {
    color: rgba(255, 255, 255, 0.50);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Gilroy-Semibold';
  font-size: .625vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
}

.inv-desc {
  color: rgba(255, 255, 255, 0.70);
  font-family: "Gilroy-Regular";
  font-size: .625vw;
  font-style: normal;
  font-weight: 400;

}
.inventory-label-text {
  width: 100%;
    color: #FFF;
  font-family: "Gilroy-Semibold";
  font-size: 1.0417vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.inventory-label-text::first-letter {
  text-transform: uppercase;
}
.inventory-icon-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6042vw;
  height: 4.6296vh;
  border-radius: .2083vw;
  background: rgba(255, 255, 255, 0.05);
}
.inventory-txt-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 100%;

}
.inventory-grid-header-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 63%;
  height: 96%;

}
.weight-text-area {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 2.3148vh;
}
.custom-weight-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 10.1563vw;
  height: 100%;
}
.bar {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.weight1 {
  display: flex;
  align-items: center;
  color: #FFF;
  text-align: right;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Gilroy-Semibold';
  font-size: .625vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.weight2 {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.50);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Gilroy-Semibold';
  font-size: .5208vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hotbar-title::first-letter {
  text-transform: uppercase;
}

.inventoryTitles {
  display: flex;
  flex-direction: column;
  gap: 0.1852vh
}
.inventoryTitle1 {
  color: #FFF;
  font-family: "Big Shoulders Text";
  font-size: 1.0417vw !important;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
.inventoryTitle2 {
  color: rgba(255, 255, 255, 0.56);
  font-family: Poppins;
  font-size: .5208vw !important;
  font-style: normal;
  font-weight: 400;

}


.inventoryPolygon {
  width: 1.7708vw;
  height: 3.7963vh;
 
  background-image: url("./icons/polygon.png?a");
  background-size: 100% 100%;
  background-position: center;
}
.inventoryIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.1481vh;
}

.inventory-grid-container {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridCols, 5.2083vw); 
  grid-auto-rows: 9.2593vh;
  gap: .3125vw;
}


::-webkit-scrollbar-track { border-radius: 0px; width: 0px; height: 0px; } ::-webkit-scrollbar { width: 2px; background: transparent; width: 0px; height: 0px;} ::-webkit-scrollbar-thumb { border-radius: 0px; background-color: transparent; width: 0px; height: 0px; } 

// inventory slots
.inventory-slot {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 3.7037vh;
  background-position: center;
  border-radius: .1042vw;
}

.inventory-slot-label-box {
  background-color: $mainColor;
  color: $textColor;
  text-align: center;
  border-bottom-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-top-style: inset;
  border-top-width: 1px;
}

.inventory-slot-label-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0vh;
  
  border-radius: 0px 0px 8px 8px;
  background: transparent;
  color: #FFF;
  text-align: center;
  font-family: "Gilroy-Regular" !important;
  font-size: .5208vw;
  font-style: normal;
  font-weight: 400 !important;
  z-index: 10;
}

.inventory-slot-number {
  position: absolute;
  display: flex;
  top: 0.3704vh;
  left: .2083vw;
  width: 1.0417vw;
  height: 1.8519vh;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: .1042vw;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: "Gilroy-Semibold";
  font-size: .6208vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 1232131;
}

.item-slot-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.item-slot-header-wrapper {
  display: flex;
  width: 100%;
  height: fit-content;
  color: #FFF;
  text-align: center;
  font-family: "Gilroy-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 0%; /* 0px */
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-self: flex-end;
  padding-left: .2083vw;
  padding-right: .2083vw;
  padding-top: 0.5704vh;
  gap: .2083vw;
  color: #FFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Gilroy-Semibold';
  font-size: .5208vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: .1563vw;
  p {
    font-size: .7292vw;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  position: absolute;
  top: 0.5vh;
  left: 0.2vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #FFF;
  text-align: center;
  font-family: "Gilroy-Regular";
  font-size: .525vw;
  font-style: normal;
  font-weight: 500;
 
}


.tooltip-wrapper {
  display: flex;
  gap: 0.463vh;
  p {
    font-size: .625vw;
    font-weight: 400;
  }
  z-index: 12312321;
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: .1563vw;
  }
  p {
    font-size: .7292vw;
  }
}

.tooltip-ingredients {
  padding-top: 0.463vh;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 1.4583vw;
    height: 2.5926vh;
    padding-right: .2604vw;
  }
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: end;
  gap: .1042vw;
  justify-content: center;
  width: 100%;
  height: 100%;

  position: relative;
  bottom: 1vh;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

// item notifications

.item-notification-container {
  display: flex;

  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-container::-webkit-scrollbar {
  display: none;
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;

  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $mainFont;
  p {
    font-size: .5729vw;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 4.5833vw;
  height: 0.2778vh;
  overflow: hidden;
  bottom: 0.6vh;
}
.custom-weight-bar2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 4.5833vw;
  height: 100%;
}
.bar-dura {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}
.weight-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: .1042vw;
  width: 9.8958vw;
  height: 1.1111vh;
  flex-shrink: 0;
  border-radius: .1042vw;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: rgba(223, 219, 219, 0.04);
  overflow: hidden;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px)
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}


.weightBarWrap {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 50%;
}

.weightBarInfo {
  display: flex;
  width: 9.8958vw;
  justify-content: space-between;

  align-items: center;
 
}
.weightWrapper {
  display: flex;
}
.weightText {
  display: flex;
  gap: .0521vw;
  color: #FFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: "Gilroy-Semibold";
  font-size: .5208vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.weightInfo1 {
  display: flex;
  color: #FFF;
  text-align: right;
  font-family: Poppins;
  font-size: .5208vw;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 13.2px */

}
.weightInfo2 {
  display: flex;
  color: rgba(255, 255, 255, 0.56);
text-align: right;
font-family: Poppins;
font-size: .5208vw;
font-style: normal;
font-weight: 400;
}

.countText { 
  display: flex;
  gap: .0521vw;
  color: #FFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Gilroy-Semibold';
  font-size: .5208vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.countEmb {
  color: rgba(255, 255, 255, 0.50);
  font-family: 'Gilroy-Semibold';
  font-size: .5208vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inventory-full-page {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  pointer-events: none;

}
.inventory-top-side {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 53%;
  height: 6.0185vh;
  flex-shrink: 0;
  top: 12vh;
}

.top-left-side {
  display: flex;
  gap: 1.0417vw;
  width: 50%;
  justify-content: end;
  height: 100%;
  padding-right: 11vw;
}
.top-right-side {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: .5208vw;
  width: 50%;
  height: 100%;
  

}



.title-box {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  height: 6.0185vh;
  flex-shrink: 0;
}

.title-1 {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
  color: #6FFFB1;
  text-shadow: 0px 0px 30px rgba(111, 255, 177, 0.60);
  font-family: "Gilroy-Regular";
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title-desc {
  color: rgba(255, 255, 255, 0.70);
font-family: "Gilroy-Regular";
font-size: .5292vw;
font-style: normal;
font-weight: 400;
padding-left: 0.3vw;
}
.title-2 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 40%;
  color: #FFF;
  font-family: "Gilroy-Regular";
  font-size: 0.8333vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: .5vw;
  padding-left: 0.3vw;
}
.id-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5vw;
  width: fit-content;
  height: 2.2222vh;
  border-radius: 8px;
  border: 1px solid #FF6DB6;
  background: linear-gradient(90deg, rgba(255, 109, 182, 0.12) 0%, rgba(255, 61, 158, 0.12) 100%);
  color: #FF6DB6;
  text-shadow: 0px 0px 20px rgba(236, 19, 41, 0.40);
  font-family: "Gilroy-Regular";
  font-size: .625vw;
  font-style: normal;
  font-weight: 600;

}
.exit-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 2.5vw;
  height: 100%;
  p {
    color: #FFF;
    text-align: right;
    font-family: "Gilroy-Regular";
    font-size: .625vw;
    font-style: normal;
    font-weight: 800;
    line-height: 128%; /* 15.36px */
    letter-spacing: -0.24px;
  }
  span {
    color: rgba(255, 255, 255, 0.88);
    font-family: "Gilroy-Regular";
    font-size: .625vw;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    letter-spacing: -0.24px;
  }
}

.exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6667vw;
  height: 2.963vh;
  flex-shrink: 0;
  background: #6FFFB1;
  filter: drop-shadow(0px 0px 60px rgba(111, 255, 177, 0.72));
  border-radius: 0.2vw;
  pointer-events:all !important;
  z-index: 123123213122 !important ;
}

.rrlod {
  width: 14.5%;
  height: 100%;
}

.rrlod2 {
  width: 51.4%;
  height: 100%;
}

.full-page-description {
  position: absolute;
  bottom: 8.3333vh;
  width: 16.875vw;
  color: #FFF;
  text-align: center;
  font-family: "Gilroy-Regular";
  font-size: .625vw;
  font-style: normal;
  letter-spacing: -0.24px;
}


.tooltip-wrapper {
  display: flex;
  width: fit-content;
  width: 15.625vw;
  height: fit-content;
  flex-shrink: 0;
  padding-left: .5208vw;
  padding-right: .5208vw;
  padding-bottom: 0.9259vh;
  padding-top: 0.9259vh;
  border-radius: .2604vw;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(72, 72, 72, 0.25);
  flex-direction: column;
  position: relative;
  .tooltip-header-box {
    width: fit-content;
    flex-direction: row;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4px;
    position: relative;

    .header-title {
      flex-direction: row;
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    
    
  }
z-index: 12312312;
}
.metadata-text {
  display: flex;
  gap: .2604vw;
  color: rgba(255, 255, 255, 0.50);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: "Gilroy-Medium";
  font-size: .625vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tooltip-weight-box {
  color: #FFF;
  text-align: right;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Gilroy-Semibold';
  font-size: .625vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}
.tooltip-item-type-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 14px;
	padding-left:6px;
padding-right: 6px;
padding-bottom:4px;
padding-top: 4px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.06);
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-family: "Gilroy-Regular";
  font-size: .5208vw;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;

}

.tooltip-item-name {
  color: #FFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Gilroy-Semibold';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  gap: .4167vw;

}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }

}
.tooltip-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.625vw;
  height: 3.2407vh;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(72, 72, 72, 0.25);
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-family: 'Gilroy-Semibold';
  font-size: .625vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.2s;
  text-align: center;
}
.tooltip-input {
  display: flex;
  justify-content: center;
  align-items: center;
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
font-family: 'Gilroy-Semibold';
font-size: .625vw;
font-style: normal;
font-weight: 600;
line-height: normal;
transition: all 0.2s;
text-align: center;
color: rgba(255, 255, 255, 0.50);
}
.tooltip-ingredients {
  padding-top: 5px;
}


.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

.inventory-control-amount-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5556vh;
  width: 6.5625vw;
  height: 16.2037vh;
  flex-shrink: 0;
  span {
    color: #FFF;
      text-align: center;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.60);
      font-family: "Gilroy-Regular";
      font-size: 1.0417vw;
      font-style: normal;
      line-height: normal;
      letter-spacing: 3px;
  }
}

.inventory-control-input {
  width: 100%;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  font-family: "Gilroy-Regular";
  font-size: .8333vw;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}
